<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Conversion.Properties.Settings.EzraConnectionString"
            connectionString="Data Source=DESKTOP-JLMTEQC;Initial Catalog=Ezra;Persist Security Info=True;User ID=sa;Password=ncc1701d"
            providerName="System.Data.SqlClient" />
        <add name="Conversion.Properties.Settings.AccessChurch_FinancesConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\dgall\Documents\church\Church Finances.accdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>